<h1>New Prise En Charge</h1>
  <h2>Patient: <%= @patient.nom %> <%=@patient.prenom %></h2>
<%= form_with(model: [@patient, @prise_en_charge], local: true) do |form| %>



  <h2>Date</h2>
  <div class="field">
    <%= form.label :date_appel, "Date appel" %>
    <%= form.date_field :date_appel %>
    <%= form.label :date_debut, 'date debut' %>
    <%= form.date_field :date_debut %>
    <%= form.label :moment %>
    <%= form.select :moment, ['matin', 'soir'] %>
  </div>
  <h2>Traité par :</h2>
  <div class="field">
    <%= form.label :traite_par, "Traité par" %>
    <%= form.select :traite_par, ['Benoit', 'Charly', 'David','Ameline', 'new'] %>
  </div>
  <h2>Info patient :</h2>
  <div class="field">
    <%= form.label :info_patient, "Info patient" %>
    <%= form.select :info_patient, ['palliatif', 'sortie hopital', 'CHIEN'] %>
  </div>
  <h2>Demande :</h2>
  <div class="field">
    <%= form.label :demande, "Demande :" %>
    <%= form.select :demande, ['Urgente', 'Futur', 'Normale'] %>
  </div>
  <h2>Service :</h2>
  <div class="field">
    <%= form.label :service, "Service :" %>
    <%= form.check_box :service, { multiple: true }, 'KineCare', nil %> KineCare
    <%= form.check_box :service, { multiple: true }, 'InfiCare', nil %> InfiCare
  </div>
  <h2>dispatching:</h2>
  <div class="field">
    <%= form.label :dispatching_inficare, "Dispatching Inficare:" %>
    <%= form.collection_select :dispatching_inficare, Infi.all, :id, :nom, include_blank: true %>
  </div>
   <div class="field">
  <%= form.label :dispatching_kinecare, "Dispatching kinécare:" %>
  <%= form.collection_select :dispatching_kinecare, Kine.all, :id, :nom, include_blank: true %>
  </div>

  <h2>Source</h2>
  <div class="field">
    <%= form.label :channel_id, "Canal:" %>
    <%= form.collection_select :channel_id, Channel.all, :id, :nom, include_blank: true %>
  </div>
  <div class="field">
  <%= form.label :subchannel_id, "Sous-canal:" %>
  <%= form.grouped_collection_select :subchannel_id, Channel.all, :sub_channels, :nom, :id, :nom, include_blank: true %>
  </div>
  <div class="field">
  <%= form.label :coordinateur, "coordinateur:" %>
  <%= form.text_field :coordinateur %>
  </div>

  <div class="field">
  <%= form.label :email, "email:" %>
  <%= form.text_field :email %>
  </div>
  <h2>Horaire</h2>
  <div class="field">
    <%= form.label :matin_start_time, " Matin entre:" %>
    <%= form.time_select :matin_start_time%>
    <%= form.label :matin_end_time, " Et:" %>
    <%= form.time_select :matin_end_time%>
  </div>
  <div class="field">
    <%= form.label :midi_start_time, " Midi entre:" %>
    <%= form.time_select :midi_start_time%>
    <%= form.label :midi_end_time, " Et:" %>
    <%= form.time_select :midi_end_time%>
  </div>
   <div class="field">
    <%= form.label :apres_midi_start_time, " Apres midi entre:" %>
    <%= form.time_select :apres_midi_start_time%>
    <%= form.label :apres_midi_end_time, " Et:" %>
    <%= form.time_select :apres_midi_end_time%>
  </div>


  <div class="field">
    <%= form.label :soir_start_time, " Soir entre:" %>
    <%= form.time_select :soir_start_time%>
    <%= form.label :soir_end_time, " Et:" %>
    <%= form.time_select :soir_end_time%>
  </div>
  <h2>soins</h2>



  <h2>Commentaire</h2>
  <div class="field">
    <%= form.label :commentaire, "Commentaire:" %>
    <%= form.text_area :commentaire %>
  </div>
  <h2>Statut</h2>
  <div class="field">
  <div class="field">
      <%= form.label :statut_demande, "Statut:" %>
    <% ['CALL PATIENT ', 'SMS PATIENT Envoyé', 'ATTRIBUTION EQUIPE', 'Confirmation Cannaux'].each do |status| %>
    <%= check_box_tag 'prise_en_charge[statut_demande][]', status, @prise_en_charge.statut_demande&.include?(status) %>
    <%= label_tag status %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'create prise en charge'%>
  </div>
<% end %>

<%= link_to 'Back', :back %>
