<h1>Prise en charge:</h1>
<% @patient.prise_en_charges.each do |prise_en_charge| %>
    <p>
    <%= prise_en_charge.traite_par %>
    <%= prise_en_charge.dispatching_inficare %>
    <%= prise_en_charge.info_patient %>
    <%= prise_en_charge.dispatching_kinecare %>
    <%= prise_en_charge.demande %>
    <%= prise_en_charge.service %>
    <%= prise_en_charge.date_appel %>
    <%= prise_en_charge.date_debut %>
    <%= prise_en_charge.moment %>
    <%= prise_en_charge.channel %>
    <%= prise_en_charge.subchannel %>
    <%=prise_en_charge.coordinateur%>
    <%=prise_en_charge.email%>
    <%=prise_en_charge.commentaire%>
    <%=prise_en_charge.statut_demande%>
    <%=prise_en_charge.matin_start_time%>
    <%=prise_en_charge.matin_end_time%>
    <%=prise_en_charge.midi_start_time%>
    <%=prise_en_charge.midi_end_time%>
    <%=prise_en_charge.apres_midi_start_time%>
    <%=prise_en_charge.apres_midi_end_time%>
    <%=prise_en_charge.soir_start_time%>
    </p>
<%end %>
