<%= form_with(model: [ @patient, @prise_en_charge, @soins_kiner], local: true) do |form| %>

  <div class="field">
    <%= form.label :soins, "Soins:" %>
    <% ['Massage', 'mobilisation', 'reductaion marche', 'post op'].each do |status| %>
      <%= check_box_tag 'soins_kiner[soins][]', status, @soins_kiner&.soins&.include?(status) %>
      <%= label_tag status %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label :periode, "Periode:" %>
    <%= form.check_box :periode, { multiple: true }, 'Jour', nil %> Jour
    <%= form.check_box :periode, { multiple: true }, 'semaine', nil %> Semaine
     <%= form.check_box :periode, { multiple: true }, 'Mois', nil %> Mois
  </div>

  <div class="field">
    <%= form.label :frequence, "Frequence:" %>
    <%= form.check_box :frequence, { multiple: true }, '1x', nil %> 1x
    <%= form.check_box :frequence, { multiple: true }, '2x', nil %> 2x
    <%= form.check_box :frequence, { multiple: true }, '3x', nil %> 3x
    <%= form.check_box :frequence, { multiple: true }, '4x', nil %> 4x
  </div>

  <div class="field">
    <%= form.label :autre, "Autre:" %>
    <%= form.text_area :autre %>
  </div>


  <div class='actions'>
    <%= form.submit 'Create Soins kiner' %>
  </div>

<% end %>
