<div class='home-button'>
  <% time =  Time.now %>
  <%= time.to_fs(:long) %>
  <button><%= link_to 'Recherche patient', patients_path %></button>
  <button>Nouvelle prise en charge</button>
  <button><%= link_to 'Listing patinents', patients_path %></button>
  <button>statistique</button>
    <div class='home-secondaire'>
      <button>Google maps</button>
      <button><%= link_to 'canaux', channels_path %></button>
      <button><%= link_to 'kines', kines_path %></button>
      <button><%= link_to 'infis', infis_path %></button>

    </div>
</div>
<h1>Prise en charge en attente de traitemant: (comptteur: num)
<p>tableau</p>
<h2>Incident - Absence - Visite medicale en attente de traitement : (compteur: num)
<p>tableau<p>s
