<!-- app/views/patients/show.html.erb -->
<h1>Patient</h1><%= link_to 'Modifier patient', edit_patient_path(@patient) %>
<table class="table">
  <tbody>
    <tr>
      <th>Nom</th>
      <td><%= @patient.nom %></td>
    <tr>
      <th>Prénom</th>
      <td><%= @patient.prenom %></td>
    </tr>
    <tr>
      <th>Téléphone</th>
      <td><%= @patient.telephone %></td>
    </tr>
    <tr>
      <th>Rue</th>
      <td><%= @patient.rue %></td>
    </tr>
    <tr>
      <th>Numéro</th>
      <td><%= @patient.numero %></td>
    </tr>
    <tr>
      <th>Ville</th>
      <td><%= @patient.ville %></td>
    </tr>
    <tr>
      <th>NISS</th>
      <td><%= @patient.niss %></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><%= @patient.contact %></td>
    </tr>
    <tr>
      <th>Lien</th>
      <td><%= @patient.lien %></td>
    </tr>
    <tr>
      <th>Téléphone du contact</th>
      <td><%= @patient.tel_contact %></td>
    </tr>
  </tbody>
</table>
<h2>Info medicales</h2><%= link_to '+', new_patient_info_medicale_path(patient_id: @patient.id) %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Info</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.info_medicales.each do |info| %>
      <tr>
        <td><%= info.date %></td>
        <td><%= info.info %></td>
        <td><%= info.note %></td>
      </tr>
      <%end%>
  </tbody>
</table>

<h3>Absences - Visites médicale</h3><%= link_to '+', new_patient_absence_path(patient_id: @patient.id)%>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Equipe</th>
      <th>Motif</th>
      <th>Etat</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.absences.each do |absence| %>
      <tr>
        <td><%= absence.date %></td>
        <td><%= absence.equipe %></td>
        <td><%= absence.motif %></td>
        <td><%= absence.etat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Incidents</h4><%= link_to '+', new_patient_incident_path(patient_id: @patient.id) %>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Equipe</th>
      <th>Motif</th>
      <th>Etat</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.incidents.each do |incident| %>
      <tr>
        <td><%= incident.date %></td>
        <td><%= incident.equipe %></td>
        <td><%= incident.motif %></td>
        <td><%= incident.etat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 |
<%= link_to 'Retour à la liste', patients_path %>
